@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Roboto:wght@300;400&display=swap');

* {
  font-family: 'Roboto Mono', monospace;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: linear-gradient(to right, rgb(96, 108, 136), rgb(63, 76, 107));
}